@use "../abstract/mixins" as screen;
.background-elements{

    @include screen.responsive(xs)
    {
        display: none;
    }
    .box1{
        position: absolute;
        top: 22%;
        left: 7%;
        width:1rem;
        height: 1rem;
        border: 3px solid #e56048;
        border-radius:4px;
        transform: 360deg;
        animation: rotation 5s linear infinite;
    }
    .box2{
        position: absolute;
        top: 84%;
        left: 45%;
        width:1rem;
        height: 1rem;
        border: 3px solid #fdec00;
        border-radius:4px;
        transform: 360deg;
        animation: rotation 5s linear infinite;
    }
    .box3{
        position: absolute;
        top: 30%;
        left: 90%;
        width:1rem;
        height: 1rem;
        border: 3px solid #17a0bb;
        border-radius:4px;
        transform: 360deg;
        animation: rotation 5s linear infinite;
    }
    .dot1{
        position: absolute;
        top: 85%;
        left: 8%;
        width:0.5rem;
        height: 0.5rem;
        background-color: #B87333;
        border-radius:50%;
        transform: 360deg;
        animation: rotation 5s linear infinite;
    }
    .dot2{
        position: absolute;
        top: 16%;
        left: 95%;
        width:0.5rem;
        height: 0.5rem;
        background-color: #bd2474;
        border-radius:50%;
        transform: 360deg;
        animation: rotation 5s linear infinite;
    }
    .dot3{
        position: absolute;
        top: 87%;
        left: 70%;
        width:0.5rem;
        height: 0.5rem;
        background-color: #0063a3;
        border-radius:50%;
        transform: 360deg;
        animation: rotation 5s linear infinite;
    }
    .dot4{
        position: absolute;
        top: 78%;
        left: 96%;
        width:0.5rem;
        height: 0.5rem;
        background-color: #e3d400;
        border-radius:50%;
        transform: 360deg;
        animation: rotation 5s linear infinite;
    }
    .circle1{
        position: absolute;
        top: 78%;
        left: 27%;
        width:1rem;
        height: 1rem;
        border: 2px solid blue;
        border-radius:50%;
        transform: 360deg;
        animation: rotation 5s linear infinite;
    }
    
    .circle2{
        position: absolute;
        top: 22%;
        left: 57%;
        width:1rem;
        height: 1rem;
        border: 2px solid #54d4f8;
        border-radius:50%;
        transform: 360deg;
        animation: rotation 5s linear infinite;
    }
    .heart1{
        position: absolute;
        top: 50%;
        left: 11%;
        font-size: 1.6rem;
        transform: 360deg;
        color: #17a0bb;
        animation: rotation 5s linear infinite;
    }
    .heart2{
        position: absolute;
        top: 50%;
        left: 90%;
        font-size: 1.6rem;
        transform: 360deg;
        color: #da1879;
        animation: rotation 5s linear infinite;
    }
    
   
}